.navbar {
  top: 0;
  left: 0;
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px 20px;
  background-color: #ffff; /* Forest Green */
  transition: all 0.3s ease;
  font-size: var(--font-size-mini);
  font-family: var(--font-shanti);
  color: black;
}

.navbar-left {
  display: flex;
  align-items: center;
}

.navbar-right {
  display: flex;
  align-items: center;
}

.navbar-link {
  margin-right: 20px; /* Adjusted for space between links */
  font-size: 16px;
  text-align: left; /* Align text to left */
  position: relative;
  cursor: pointer;
}

.icon {
  width: 30px;
  height: 30px;
  margin-left: 10px; /* Adjusted for space between icons */
}

.dropdown-content {
  display: none;
  position: absolute;
  background-color: rgba(255, 255, 255, 0.9); /* Transparent white */
  width: max-content; /* Adjust width based on content */
  border: 1px solid #ccc; /* Thin border */
  border-top: none; /* Remove top border */
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  z-index: 1;
  text-align: center; /* Align dropdown content to center */
}

.navbar-link:hover .dropdown-content {
  display: block;
}

.dropdown-content a {
  color: black;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
}

.dropdown-content a:hover {
  background-color: #f5f5f5; /* Light gray background on hover */
}
