@font-face {
    font-family: 'Garamond';
    src: url('/Users/webprojectv/frontend/src/Font/CormorantGaramond-Bold.woff') format('woff');
    /* You can add more src declarations for different file formats (e.g., woff2, ttf) */
    font-weight: normal; /* Adjust font weight if needed */
    font-style: normal; /* Adjust font style if needed */
}
@font-face {
    font-family: 'Heebo';
    src: url('/Users/webprojectv/frontend/src/Font/Heebo-Light.woff') format('woff');
    /* You can add more src declarations for different file formats (e.g., woff2, ttf) */
    font-weight: normal; /* Adjust font weight if needed */
    font-style: normal; /* Adjust font style if needed */
}

.footer-container {
    display: flex;
    justify-content: space-between;
    padding: 20px;
    color:black;
  }
  
  /* Footer Columns */
  .footer-column1 {
    width: 40%;
  }
  .footer-column2 {
    width: 30%;
    text-align: center;
  }
  .footer-column3 {
    width: 30%;
  }

.fthead{
    font-family: "Garamond";
}
.ftbody{
    font-family:"Heebo";
    font-size:medium;
    margin-right: 1rem;
}
  .ftbody {
    list-style: none;
    padding: 0;
  }
  
  .ftbody li {
    margin-bottom: 5px;
  }
  
  .ftbody a {
    color: #666;
    text-decoration: none;
  }
  
  .ftbody a:hover {
    color:#FF6E4E;
    text-decoration: none;
  }
  
  /* Social Icons */
  .social-icons {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    margin-top: 20px;
    color:black;
    padding-right: 1rem;
  }
  
  .social-icons svg {
    font-size: 1.5rem;
    margin-left: 10px;
  }

  .copyright {
    font-family: "Garamond";
    color:black;
    padding-left:3rem;
  }
  
  @media (max-width: 899px) {
    .fthead{
      font-size: medium;
  }
  .ftbody{
      font-size:0.7rem;
      margin-right: 1rem;
  }
  .copyright {
    font-size:0.9rem;
  }
  }